/lineup_library.yaml
/lineup_events.yaml
/lineup_data.yaml
/__pycache__
**/__pycache__
*.pyc
/.vscode
/.github
/.venv
/window_state.json
/auto_save.json
/build
/dist/
/settings.json
/.repomix
/.pytest_cache
/release